aioredis
aiokafka
fastapi_mail
hbmqtt_master2.2
asyncpg
passlib
pydantic
requests
python_jose
itsdangerous
pytest
aiohttp
email_validator
uvicorn
starlette
websockets
fastapi
hbmqtt
jose
python-dotenv
PyYAML
secrets
