.menubar {
    position:absolute;
    width:200px;
    height:50px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
    align-items: center;
    color: white;
    background-color: #222222; 
    border-radius: 5%;
}
