.signup-front {
    background-color: #222222;
    color: white;
    position: absolute;
    height: 20%;
    width: 100%;
}

img {
    object-fit: cover;
    padding: 0px;
    margin: -20px;
    height: -10%;
}